[Unit]
Description=Labgrid Coordinator
After=network.target

[Service]
Environment="PYTHONUNBUFFERED=1"
Environment="LABGRID_COORDINATOR_LISTEN_IP=0.0.0.0"
Environment="LABGRID_COORDINATOR_PORT=20408"
EnvironmentFile=/etc/labgrid/environment
ExecStart=/usr/bin/labgrid-coordinator -l ${LABGRID_COORDINATOR_LISTEN_IP}:${LABGRID_COORDINATOR_PORT}
Restart=on-failure
DynamicUser=yes
StateDirectory=labgrid-coordinator
# Set WorkingDirectory to StateDirectory, this works in DynamicUser mode since symlinks are created
WorkingDirectory=%S/labgrid-coordinator

[Install]
WantedBy=multi-user.target
