[Unit]
Description=Labgrid exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/labgrid/environment
ExecStart=/usr/bin/python3 /usr/bin/labgrid-exporter -d -x ws://${LABGRID_COORDINATOR_IP}:${LABGRID_COORDINATOR_PORT}/ws /etc/labgrid/configuration.yaml ${LABGRID_ARGS}

[Install]
WantedBy=multi-user.target
