name: meta-labgrid CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: meta-labgrid Build
    runs-on: ubuntu-22.04
    timeout-minutes: 720
    steps:
      - name: Install required packages
        run: |
          sudo apt-get install diffstat chrpath
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: meta-labgrid
      - name: Clone poky
        run: git clone -b master git://git.yoctoproject.org/poky
      - name: Clone meta-openembedded
        run: git clone -b master https://github.com/openembedded/meta-openembedded.git
      - name: Initialize build directory
        run: |
          source poky/oe-init-build-env build
          bitbake-layers add-layer ../meta-openembedded/meta-oe
          bitbake-layers add-layer ../meta-openembedded/meta-python
          bitbake-layers add-layer ../meta-labgrid
          echo 'INHERIT += "rm_work"' >> conf/local.conf
          echo 'DISTRO_FEATURES:remove = "alsa bluetooth usbgadget usbhost wifi nfs zeroconf pci 3g nfc x11 opengl ptest wayland vulkan"' >> conf/local.conf
          echo 'SSTATE_MIRRORS = "file://.* http://195.201.147.117/sstate-cache/PATH"' >> conf/local.conf
          echo 'BB_SIGNATURE_HANDLER = "OEBasicHash"' >> conf/local.conf
          echo 'BB_HASHSERVE = ""' >> conf/local.conf
      - name: Build autobahn
        run: |
          source poky/oe-init-build-env build
          bitbake python3-autobahn
      - name: Build labgrid
        run: |
          source poky/oe-init-build-env build
          bitbake python3-labgrid
      - name: Build tools
        run: |
          source poky/oe-init-build-env build
          bitbake python3-pyserial sispmctl
